{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-0",
    "react"
  ],
  "plugins": [
    "babel-plugin-transform-react-stateless-component-name",
    "ramda",
    ["react-intl", {
      "messagesDir": "./dist/messages/"
    }]
  ]
}