{
  "presets": [["env", { "modules": false }], "stage-0", "react"],
  "plugins": [
    "babel-plugin-transform-react-stateless-component-name",
    "transform-decorators-legacy",
    "ramda",
    [
      "react-intl",
      {
        "messagesDir": "./dist/messages/"
      }
    ]
  ]
}
