doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title="wavesplatform.com"
        link(href="https://fonts.googleapis.com/css?family=Rubik:300", rel="stylesheet")
        link(rel='stylesheet', href='styles.css')   
    body
        div.loader
        div#app
        script(src='main.js')